html,
body {
	padding: 0;
	margin: 0;
}

body {
  background: #201c2b;
  color: #eee;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
}

h1 {
  width: 40%;
  border-bottom: 1px solid #eee;
  margin-bottom: 0px;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#lcd-container {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;

  #lcd {
    box-shadow: 2px 2px 5px -2px #000;
  }

  #lcd-stats, #lcd-controls {
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s linear;
    backface-visibility: hidden;
    font-size: 11px;
    line-height: 30px;
  }

  &:hover #lcd-stats, &:hover #lcd-controls {
    opacity: 1;
  }

  #lcd-stats {
    top: 0;
    padding: 10px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  }

  #lcd-controls {
    bottom: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);

    .control-button {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      border-color: rgba(255, 255, 255, 0.8);

      &:hover {
        border-color: #fff;
      }
    }

    .play-button, .play-button:hover {
      display: none;
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left-width: 9px;
      border-left-style: solid;
      margin-left: 3px;
    }

    .pause-button, .pause-button:hover {
      width: 3px;
      height: 11px;
      border-right-width: 3px;
      border-right-style: solid;
      border-left-width: 3px;
      border-left-style: solid;
    }

    &.state-paused {
      .play-button {
        display: inline-block;
      }

      .pause-button {
        display: none;
      }
    }
  }
}

#github-link {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: block;
  width: 32px;
  height: 32px;
  background: url('../assets/GitHub-Mark-Light-64px.png');
  background-size: 32px 32px;
}

.swal2-container a {
  text-decoration: none;
  color: #2196f3;
  font-weight: 600;
  cursor: pointer;
}
